*{
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(to right, #fceabb, #f8b500);
}

.main {
    display: flex;
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    height: 100vh;            /* 100% del alto de la pantalla */
  }
  